@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root[data-theme="light"] {
  background: white;
  color: black;
}

:root[data-theme="dark"] {
  background: black;
  color: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  .nav-link-header {
    @apply text-[#e5e5e5] font-light text-sm my-auto;
  }
  .nav-link-dropdown {
    @apply block cursor-pointer w-full text-left px-4 py-2 font-light  transition duration-300 ease-in-out hover:scale-95;
  }
  .active {
    @apply font-bold;
  }
  .button-cover {
    @apply cursor-pointer px-7 py-2 flex gap-2 rounded-sm font-bold text-xl transition duration-300 ease-in-out hover:opacity-[0.8];
  }
}

@layer components {
  .cover-gradient-black {
    background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.15) 15%, rgba(0,0,0,0.35) 29%, rgba(0,0,0,0.58) 80%, rgba(0,0,0,1) 90%, rgba(0,0,0,1));
  }

  .cover-gradient-white {
    background-image: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.05) 15%, rgba(255,255,255,0.10) 29%, rgba(255,255,255,0.80) 80%, rgba(255,255,255,1) 90%, rgba(255,255,255,1));
  }

  .video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
  }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.navbar-gradient-black  {
  background-image: linear-gradient(180deg, rgba(20,20,20,0.8) 0%,rgba(20,20,20,0.2) 50%,rgba(20,20,20,0) 100%);
}